/* ==========================================================================
   Sea theme skin
   ========================================================================== */

/* Colors */
$base-color: #53bbf7 !default;
$text-color: #f7a3ee !default;
$accent-color: #aaff7f !default;
$background-color: #5cbef7 !default;
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #fff !default;

